@charset "UTF-8";
/*==============================================================================

Reset & Default Setting SCSS.

==============================================================================*/
/*------------------------------------------------------------------------------
 Import Google Web Font.
------------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/*------------------------------------------------------------------------------
 Reset & Default Setting CSS.
------------------------------------------------------------------------------*/
/* Reset CSS. */
a,
address,
article,
aside,
audio,
blockquote,
body,
canvas,
caption,
code,
dd,
div,
dl,
dt,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
input,
label,
li,
mark,
menu,
nav,
ol,
output,
p,
pre,
ruby,
section,
span,
summary,
table,
tbody,
td,
textarea,
th,
time,
tr,
ul,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
/* Default Setting */
html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  letter-spacing: 0;
  color: #555;
  background: #fff;
  font-family: "Source Sans Pro", "Noto Sans Japanese", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", meiryo, sans-serif;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

strong {
  font-weight: bold;
}

a {
  transition: opacity 0.5s;
  text-decoration: none;
  opacity: 1;
  color: inherit;
  background: transparent;
}

a:hover {
  transition: opacity 0.5s;
  opacity: 0.5;
  color: inherit;
}

a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a.current {}

img {
  vertical-align: middle;
}

li,
ol,
ul {
  list-style-type: none;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

input[type="button"],
input[type="submit"],
input[type="text"] {
  border-radius: 0;
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
  border-radius: 0;
  -webkit-appearance: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}

::selection {
  background: RGBa();
}

::-moz-selection {
  background: RGBa();
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* Safari Hack */
  * {
    // Add Property.
  }
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  /* Chrome Hack */
  * {
    // Add Property.
  }
}
@-moz-document url-prefix() {
  /* FireFox Hack */
  * {
    // Add Property.
  }
}
@media all and (-ms-high-contrast:none) {
  /* IE Hack */
  * {
    // Add Property.
  }
}
